main {
    height: 500px;
    border: 1px solid black;
    display: flex;

    /* Justify content examples */
    justify-content: center; /* horizontal left to right x axis*/

    /* justify-content: flex-start; default */

    /* justify-content: space-between; create space between the elements */

    /* justify-content: space-around; creates some space around the elements */

    align-items: center; /* top to bottom y axis */

    flex-wrap: wrap; /* as soon as not enough space, the cards jump to the next row */
}

div {
    background-color: pink;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* move something around, parent needs to be flex (to be able to move the children around). */

.green {
    background-color: green;
}

/* p {
    text-align: center;
} */

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    border: 1px solid black;
    align-items: center; /* will now move x axis */
    justify-content: center; /* will now move y axis */
}

/* Default flex direction in row */

/* Once we set it to column, the behaviour of justify-content and align-items swaps/changes */
